In [1]:
# dependencies
from numpy import nan as nan
import pandas as pd
from sklearn.model_selection import train_test_split

### id tracking
| df | article_id | matchedsentence_id | officer_id |
|:--- | ---: | ---: | :---:|
| text_df | text_df.id|X|X|
| sen_df  | sen_df.article_id|sen_df.id|X|
| true_df | X |true_df.matchedsentence_id|true_df.id|

In [2]:
# support methods for notebook version
def get_unique_report(df):
    cols = list(df.columns)
    print('             distinct value count by col')
    print('=======================================================')
    for col in cols:
        pretty_print(col, len(df[col].unique()))

In [3]:
# support methods
def get_args():
    parser = argparse.ArgumentParser()
    parser.add_argument("--included", default='input/news_articles_matchedsentence.csv.gz')
    parser.add_argument("--true", default='input/news_articles_matchedsentence_officers.csv.gz')
    parser.add_argument("--text", default='input/news_articles_newsarticle.csv.gz')
    parser.add_argument("--output")
    return parser.parse_args()


def get_logging(logname):
        logging.basicConfig(level=logging.DEBUG,
                            format='%(asctime)s %(levelname)s %(message)s',
                            handlers=[logging.FileHandler(logname),
                            logging.StreamHandler()])


def open_gz(f):
    return pd.read_csv(f, compression='gzip')


def pretty_print(label, val, newline=False):
    print('{:50}{}'.format(label, val))
    if newline:
        print()


def check_asserts(text_df, sen_df, true_df):
    # asserts first
    assert text_df.shape == (29707, 12)
    assert sen_df.shape == (10470, 7)
    assert true_df.shape == (735, 3)
    assert all(text_df.columns == ['created_at', 'link', 'guid', 'source_id', \
                                   'updated_at', 'content', 'published_date', 'id', \
                                   'title', 'is_processed', 'author', 'url'])
    assert all(sen_df.columns == ['id', 'created_at', 'updated_at', 'article_id', 
                                   'extracted_keywords', 'text', 'title'])
    assert all(true_df.columns == ['id', 'matchedsentence_id', 'officer_id'])
    most = set(text_df.id.unique())
    mid = set(sen_df.id.unique())
    least = set(true_df.id.unique())
    assert len(least) < len(mid) < len(most)
    assert len(most.intersection(mid)) == 9891
    assert all(true_df.id == true_df.officer_id)   # what does it mean that this is true? will it always?
    pairs = set()
    for tup in true_df.itertuples():
        pairs.add((tup.id, tup.matchedsentence_id))
    assert len(pairs) == true_df.shape[0]
    articles = text_df.id.unique()
    matched = sen_df.article_id.unique()
    assert len(matched) < len(articles)
    assert len(articles) == 29707
    assert len(matched) == 4323
    for match in matched:
        assert match in articles
    matched_sen = sen_df.id.unique()
    true_match_sen = true_df.matchedsentence_id.unique()
    true_match_off = true_df.id.unique()
    assert len(true_match_sen) < len(matched_sen)
    assert len(matched_sen) == 10470
    assert len(true_match_sen) == 479
    for match in true_match_sen:
        assert match in matched_sen
    #reporting/logging second
    print('                overview of input')
    print('=======================================================')
    pretty_print('raw article data:', text_df.shape)
    pretty_print('matched kw data:', sen_df.shape)
    pretty_print('relevant sentence/officer data:', true_df.shape)
    pretty_print('unique articles:', len(articles))
    pretty_print('unique articles w/ kw match:', len(matched))
    pretty_print('unique matched sentences:', len(matched_sen))
    pretty_print('unique matched sentences relevant:', len(true_match_sen))
    pretty_print('unique matched officers relevant:', len(true_match_off))


def prep_dfs(text_df, sen_df, true_df):
    less_text = text_df.loc[:, ['id', 'source_id', 'author', 'content']]
    temp = less_text
    less_text = temp.rename(columns={'id':'article_id'})
    less_sen = sen_df.loc[:, ['id', 'article_id', 'extracted_keywords']]
    temp = less_sen
    less_sen = temp.rename(columns={'id':'matchedsentence_id'})
    less_sen['kw_match'] = [1 for val in range(less_sen.shape[0])]
    less_true = true_df.loc[:, ['officer_id', 'matchedsentence_id']]
    less_true['relevant'] = [1 for val in range(less_true.shape[0])]
    return less_text, less_sen, less_true


def merge_dfs(less_text, less_sen, less_true):
    less_text = less_text.set_index('article_id')
    less_sen = less_sen.set_index('article_id')
    out = less_text.join(less_sen, on='article_id', how='outer').reset_index().set_index('matchedsentence_id')
    temp = less_true
    less_true = temp.set_index('matchedsentence_id')
    out = out.join(less_true, on='matchedsentence_id', how='outer')
    out = out.reset_index()
    out.kw_match.fillna(value=0, axis=0, inplace=True)
    out.relevant.fillna(value=0, axis=0, inplace=True)
    temp = out
    out['kw_match'] = temp.kw_match.astype(int)
    out['relevant'] = temp.relevant.astype(int)
    return out


def invert_bool_list(aList):
    mask = [1 if val == 0 else 0 for val in aList]
    return pd.array(mask, dtype="boolean")


# Per TS, starting train/test size should be 500/100
# ASSUMPTION: A 50/50 POS/NEG balance for model is reasonable starting point
# This method builds the POSITIVE cases: keyword matched AND article relevant (per Rajiv)
def prep_pos_train_test(merged, train_n=250, test_n=50):
    id_mask = (merged.officer_id.notnull())
    possible = merged.loc[id_mask].officer_id.unique().tolist()
    train_list, test_list = train_test_split(possible, test_size=test_n, train_size=train_n, shuffle=True)
    assert set(train_list).isdisjoint(set(test_list))
    return train_list, test_list


# This method builds the NEGATIVE cases: keyword matched but not relevant
def prep_neg_train_test(rem_df, train_n=250, test_n=50):
    id_mask = (rem_df.kw_match == 1) & (rem_df.officer_id.isnull())
    possible = rem_df.loc[id_mask].matchedsentence_id.unique().tolist()
    train_list, test_list = train_test_split(possible, test_size=test_n, train_size=train_n, shuffle=True)
    assert set(train_list).isdisjoint(set(test_list))
    return train_list, test_list


def get_train_test_dfs(merged):
    pos_train_idx, pos_test_idx = prep_pos_train_test(merged)
    pos_train_df = merged.loc[merged.officer_id.isin(pos_train_idx)]
    pos_test_df = merged.loc[merged.officer_id.isin(pos_test_idx)]
    # combine train and test indices
    # use combined indices as mask, then invert the mask so T->F, F->T
    # use inverted mask to get remainder data that is not in either train or test sets
    pos_combined = pos_train_idx + pos_test_idx
    assert invert_bool_list([1,1,1,0,0,0]) == [0,0,0,1,1,1]
    mask_to_inv = (merged.officer_id.isin(pos_combined))
    pos_inv_mask = invert_bool_list(mask_to_inv)
    initial_rem_df = merged.loc[pos_inv_mask]
    assert len(pos_train_df.officer_id.unique()) == 250
    assert len(pos_test_df.officer_id.unique()) == 50
    # use remainder data to pad train and test sets with negative cases
    neg_train_idx, neg_test_idx = prep_neg_train_test(initial_rem_df)
    neg_train_df = initial_rem_df.loc[initial_rem_df.matchedsentence_id.isin(neg_train_idx)]
    neg_test_df = initial_rem_df.loc[initial_rem_df.matchedsentence_id.isin(neg_test_idx)]
    neg_train_idx, neg_test_idx = prep_neg_train_test(initial_rem_df)
    neg_combined = neg_train_idx + neg_test_idx
    mask_to_inv = (merged.matchedsentence_id.isin(neg_combined) | merged.officer_id.isin(pos_combined))
    inv_mask = invert_bool_list(mask_to_inv)
    final_rem_df = merged.loc[inv_mask]
    train_df = pd.concat([pos_train_df, neg_train_df])
    test_df = pd.concat([pos_test_df, neg_test_df])
    return train_df, test_df, final_rem_df


def remake_merged(train_df, test_df, rem_df):
    train_test_df = pd.concat([train_df, test_df])
    train_test_df['train_test'] = [1 for val in range(train_test_df.shape[0])]
    temp = rem_df.copy()
    temp['train_test'] = [0 for val in range(temp.shape[0])]
    return pd.concat([train_test_df, temp])


def make_source_reports(train_df, test_df, rem_df):
    train_vc = train_df.source_id.value_counts().to_dict()
    test_vc = test_df.source_id.value_counts().to_dict()
    rem_vc = rem_df.source_id.value_counts().to_dict()
    sources = set(list(train_vc.keys()) + list(test_vc.keys()) + list(rem_vc.keys()))
    out_data = {source:{} for source in sources}
    for source in sources:
        if source in train_vc:
            out_data[source]['train_df'] = train_vc[source]
        else:
            out_data[source]['train_df'] = nan
        if source in test_vc:
            out_data[source]['test_df'] = test_vc[source]
        else:
            out_data[source]['test_df'] = nan
        if source in rem_vc:
            out_data[source]['rem_df'] = rem_vc[source]
        else:
            out_data[source]['rem_df'] = nan
    return pd.DataFrame.from_dict(out_data).T.reset_index().rename(columns={'index':'source_id'})


def make_author_reports(train_df, test_df, rem_df):
    train_vc = train_df.author.value_counts().to_dict()
    test_vc = test_df.author.value_counts().to_dict()
    rem_vc = rem_df.author.value_counts().to_dict()
    authors = set(list(train_vc.keys()) + list(test_vc.keys()) + list(rem_vc.keys()))
    out_data = {author:{} for author in authors}
    for author in authors:
        if author in train_vc:
            out_data[author]['train_df'] = train_vc[author]
        else:
            out_data[author]['train_df'] = nan
        if author in test_vc:
            out_data[author]['test_df'] = test_vc[author]
        else:
            out_data[author]['test_df'] = nan
        if author in rem_vc:
            out_data[author]['rem_df'] = rem_vc[author]
        else:
            out_data[author]['rem_df'] = nan
    return pd.DataFrame.from_dict(out_data).T.reset_index().rename(columns={'index':'author'})


def make_kw_reports(train_df, test_df, rem_df):
    train_vc = train_df.extracted_keywords.value_counts().to_dict()
    test_vc = test_df.extracted_keywords.value_counts().to_dict()
    rem_vc = rem_df.extracted_keywords.value_counts().to_dict()
    kws = set(list(train_vc.keys()) + list(test_vc.keys()) + list(rem_vc.keys()))
    out_data = {kw:{} for kw in kws}
    for kw in kws:
        if kw in train_vc:
            out_data[kw]['train_df'] = train_vc[kw]
        else:
            out_data[kw]['train_df'] = nan
        if kw in test_vc:
            out_data[kw]['test_df'] = test_vc[kw]
        else:
            out_data[kw]['test_df'] = nan
        if kw in rem_vc:
            out_data[kw]['rem_df'] = rem_vc[kw]
        else:
            out_data[kw]['rem_df'] = nan
    return pd.DataFrame.from_dict(out_data).T.reset_index().rename(columns={'index':'extracted_keywords'})

In [4]:
# NEED TO OUTPUT:
# 1. article_id (given in data)
# 2. article text (given in data)
# 3. relevant (if article in true_df)
# 4. test (if article is reserved for testing model)     Per TS: 500 train, 100 test for initial train
# (may add cols like author or title)

# CONSIDERING
#train_df['train'] = [1 for val in range(train_df.shape[0])]
#test_df['test'] = [1 for val in range(test_df.shape[0])]
#pd.concat([train_df, test_df, rem_df])

In [25]:
pd.set_option('mode.chained_assignment', 'raise')
# __main__
#
# newsarticle: initial dataset
#    - has all the data related to the article as it was pulled into feed
# matchedsentence: initial keyword filter
#    - has all the data related to every article with at least one sentence matching a keyword
# matchedsentence_officers: manual filter (Rajiv)
#    - has select columns linking identified officer badges and articles confirmed relevant by Rajiv
# NOTE: If an article is not in the manual filter set, it is not relevant
news_text = '../input/news_articles_newsarticle.csv.gz'
news_included = '../input/news_articles_matchedsentence.csv.gz'
news_true = '../input/news_articles_matchedsentence_officers.csv.gz'

text_df = open_gz(news_text)
sen_df = open_gz(news_included)
true_df = open_gz(news_true)
check_asserts(text_df, sen_df, true_df)

less_text, less_sen, less_true = prep_dfs(text_df, sen_df, true_df)
merged = merge_dfs(less_text, less_sen, less_true)
train_df, test_df, rem_df = get_train_test_dfs(merged)
src_report = make_source_reports(train_df, test_df, rem_df)
author_report = make_author_reports(train_df, test_df, rem_df)
kw_report = make_kw_reports(train_df, test_df, rem_df)
news = remake_merged(train_df, test_df, rem_df)
less_train = train_df.loc[:, ['article_id', 'content', 'relevant']]
less_test = test_df.loc[:, ['article_id', 'content', 'relevant']]

# save outputs
news.to_parquet('../output/news.parquet')
less_train.to_parquet('../output/train.parquet')
less_test.to_parquet('../output/test.parquet')
src_report.to_parquet('../output/source_report.parquet')
author_report.to_parquet('../output/author_report.parquet')
kw_report.to_parquet('../output/keyword_report.parquet')

                overview of input
=======================================================
raw article data:                                 (29707, 12)
matched kw data:                                  (10470, 7)
relevant sentence/officer data:                   (735, 3)
unique articles:                                  29707
unique articles w/ kw match:                      4323
unique matched sentences:                         10470
unique matched sentences relevant:                479
unique matched officers relevant:                 355

# Reviewing output data

In [22]:
news

,matchedsentence_id,article_id,source_id,author,content,extracted_keywords,kw_match,officer_id,relevant,train_test
25630,13559.0,30695,32,"Kendrick Dante, Shreveport Times",The April 11 death of a Shreveport inmatejustd...,"[""officer""]",1,95596.0,1,1
25680,13632.0,30616,17,Piper Hutchinson,\n(LSU Manship School News Service) – Third Di...,"[""Police""]",1,138540.0,1,1
25682,13632.0,30616,17,Piper Hutchinson,\n(LSU Manship School News Service) – Third Di...,"[""Police""]",1,115121.0,1,1
25844,13340.0,30133,30,WBRZ Staff,LAPLACE - A sheriff&#x27;s deputy shot and wou...,"[""Police""]",1,138401.0,1,1
25933,13215.0,29874,2,James Finn,A Baton Rouge policeman at the center of an on...,"[""officer""]",1,95596.0,1,1
...,...,...,...,...,...,...,...,...,...,...
36105,9.0,373,1,Marta Jewson,"At a press conference Wednesday, NOLA Public S...","[""Officer""]",1,NaN,0,0
36106,3.0,366,1,Carly Berlin,"UPDATE: After this story was published, FEMA e...","[""Officer""]",1,NaN,0,0
36107,2.0,365,1,Marta Jewson,Outside Frederick Douglass High School Thursda...,"[""Officer""]",1,NaN,0,0
36108,1.0,362,1,Marta Jewson,"About 250,000 Louisiana students remain out of...","[""Officer""]",1,NaN,0,0
36109,6.0,356,1,Michael Isaac Stein,One week after Hurricane Ida made landfall in ...,"[""Police""]",1,NaN,0,0

In [26]:
less_train

       article_id                                            content  relevant
25679       30616  \n(LSU Manship School News Service) – Third Di...         1
25680       30616  \n(LSU Manship School News Service) – Third Di...         1
25681       30616  \n(LSU Manship School News Service) – Third Di...         1
25844       30133  LAPLACE - A sheriff&#x27;s deputy shot and wou...         1
25935       29874  A Baton Rouge policeman at the center of an on...         1
...           ...                                                ...       ...
35922         921  A drunk driver hit a pedestrian in Ascension P...         0
35952         780  Opelousas Police are investigating a shooting ...         0
36015         626  Addy Melancon, the last living veteran of the ...         0
36033         459  St. Tammany Parish voters will finally get to ...         0
36081         405  A Louisiana State Police trooper who initiated...         0

[790 rows x 3 columns]

In [28]:
less_test

       article_id                                            content  relevant
25630       30695  The April 11 death of a Shreveport inmatejustd...         1
25933       29874  A Baton Rouge policeman at the center of an on...         1
25976       29704  A Lafayette man filed a lawsuit in federal cou...         1
25979       29704  A Lafayette man filed a lawsuit in federal cou...         1
25980       29704  A Lafayette man filed a lawsuit in federal cou...         1
...           ...                                                ...       ...
35415        1880  The LSU Tigers are covering some familiar grou...         0
35554        1614  In the late 1940s I was given a delightful lit...         0
35594        1536  Five teenagers escaped from Baton Rouge’s anti...         0
35826        1121  A Lafayette woman has died after a Wednesday n...         0
36093         402  Orleans Parish School Board members voted on T...         0

[126 rows x 3 columns]

## Reports
- `extracted_keywords` in train/test/rem
- sources in train/test/rem
- authors in train/test/rem

In [10]:
kw_report

                                   kw_match  train_df  test_df  rem_df
0                        ["NOPD","officer"]       2.0      NaN    24.0
1               ["officer","NOPD","police"]       NaN      NaN     2.0
2      ["officer","Police","NOPD","police"]       NaN      NaN     1.0
3   ["Officer","police","officer","Police"]       1.0      NaN     1.0
4                      ["officer","police"]      13.0      NaN   169.0
5                      ["Officer","police"]       NaN      NaN    12.0
6                      ["police","Officer"]       1.0      1.0     9.0
7                            ["terminated"]       4.0      2.0    85.0
8                   ["terminated","Police"]       2.0      NaN     NaN
9             ["officer","Police","police"]       NaN      NaN     6.0
10              ["officer","police","NOPD"]       NaN      NaN     2.0
11           ["Police","officer","Officer"]       1.0      1.0     NaN
12            ["Officer","Police","police"]       NaN      NaN     1.0
13           ["Officer","police","officer"]       NaN      NaN     1.0
14              ["officer","Police","NOPD"]       NaN      NaN     2.0
15                      ["Police","police"]       1.0      NaN    34.0
16                       ["NOPD","Officer"]       NaN      NaN     2.0
17                              ["Officer"]      56.0      9.0   640.0
18                                 ["NOPD"]      31.0      2.0   465.0
19                        ["NOPD","Police"]       NaN      NaN     8.0
20              ["officer","NOPD","Police"]       NaN      NaN     1.0
21                    ["officer","Officer"]       2.0      NaN     8.0
22             ["NOPD","officer","Officer"]       NaN      NaN     1.0
23              ["NOPD","police","officer"]       NaN      NaN     1.0
24                     ["Police","officer"]      12.0      2.0   132.0
25                 ["terminated","officer"]       2.0      1.0     NaN
26                     ["Officer","Police"]       1.0      1.0    31.0
27            ["Police","officer","police"]       NaN      NaN     6.0
28              ["police","NOPD","officer"]       NaN      NaN     1.0
29                    ["Officer","officer"]       NaN      NaN     5.0
30                      ["police","Police"]      10.0      2.0    67.0
31                       ["officer","NOPD"]       1.0      NaN    38.0
32           ["officer","Police","Officer"]       NaN      NaN     1.0
33            ["Police","Officer","police"]       NaN      NaN     1.0
34            ["officer","police","Police"]       NaN      NaN     2.0
35           ["Officer","officer","Police"]       NaN      NaN     3.0
36                        ["Police","NOPD"]       NaN      NaN     3.0
37                              ["officer"]     135.0     27.0  1874.0
38                        ["NOPD","police"]       NaN      NaN     9.0
39                       ["Officer","NOPD"]       2.0      NaN     2.0
40                  ["Police","terminated"]       2.0      NaN     NaN
41                        ["police","NOPD"]       NaN      NaN    14.0
42              ["NOPD","officer","Police"]       NaN      NaN     1.0
43            ["Police","police","officer"]       NaN      NaN     4.0
44            ["police","Police","officer"]       1.0      1.0    10.0
45  ["police","Police","officer","Officer"]       NaN      NaN     1.0
46              ["Police","NOPD","officer"]       NaN      NaN     1.0
47               ["police","NOPD","Police"]       NaN      NaN     1.0
48               ["NOPD","police","Police"]       NaN      NaN     1.0
49                               ["police"]     207.0     33.0  2462.0
50                     ["officer","Police"]      28.0      6.0   122.0
51                               ["Police"]     254.0     45.0  3250.0
52                     ["police","officer"]      13.0      4.0   246.0
53                 ["terminated","Officer"]       NaN      NaN     1.0
54        ["officer","Police","terminated"]       NaN      NaN     1.0
55               ["NOPD","Police","police"]       NaN      NaN     1.0
56                     ["Police","Officer"]       6.0      NaN    31.0
57            ["police","officer","Police"]       1.0      NaN     3.0

In [11]:
src_report

    source_id  train_df  test_df   rem_df
0           1      17.0      4.0    457.0
1           2     358.0     60.0  10488.0
2           3       6.0      1.0    315.0
3           4      13.0      1.0    328.0
4           5       NaN      NaN    380.0
5           6       NaN      NaN     36.0
6           7      31.0      5.0   1446.0
7           8      13.0      2.0   1062.0
8           9       3.0      NaN    268.0
9          10       6.0      NaN    447.0
10         11       1.0      NaN    128.0
11         12      16.0      7.0    839.0
12         13      18.0      4.0    786.0
13         14      11.0      2.0   2212.0
14         15       4.0      1.0    770.0
15         16      48.0     10.0   6096.0
16         17      23.0      1.0    283.0
17         18       NaN      1.0    188.0
18         19      81.0      6.0   2845.0
19         20       6.0      NaN    264.0
20         21       NaN      NaN     11.0
21         22       3.0      1.0    235.0
22         23       NaN      1.0    180.0
23         24       NaN      NaN     95.0
24         25      25.0      5.0    158.0
25         26       1.0      1.0    107.0
26         27       4.0      1.0    133.0
27         28       NaN      NaN    100.0
28         29       1.0      NaN    113.0
29         30      61.0     11.0   2560.0
30         31       6.0      2.0    526.0
31         32      18.0      5.0    709.0
32         33      11.0      3.0    250.0
33         34       4.0      2.0    369.0

In [12]:
author_report

                                      author  train_df  test_df  rem_df
0                                 Susan Hunt       NaN      NaN     1.0
1                   THE NEW ORLEANS ADVOCATE       NaN      NaN     1.0
2                              Jonah Bostick       NaN      NaN     8.0
3                             Julia Guilbeau      10.0      2.0    23.0
4     Domenic Purdy, Special To The Advocate       NaN      NaN     2.0
...                                      ...       ...      ...     ...
2193                     Aya Elamroussi, CNN       NaN      NaN     1.0
2194                             John Walton       NaN      NaN     6.0
2195                             Roger Ogden       NaN      NaN     1.0
2196   Kahn Swick & Foti, LLC, Novavax, Inc.       NaN      NaN     1.0
2197      Jim Kleinpeter Contributing Writer       NaN      NaN     2.0

[2198 rows x 4 columns]

# Reviewing input data

### `text_df`

In [13]:
pretty_print('full text shape:', text_df.shape)
print('full text cols:\n', list(text_df.columns))

full text shape:                                  (29707, 12)
full text cols:
 ['created_at', 'link', 'guid', 'source_id', 'updated_at', 'content', 'published_date', 'id', 'title', 'is_processed', 'author', 'url']

In [14]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29707 entries, 0 to 29706
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   created_at      29707 non-null  object
 1   link            29707 non-null  object
 2   guid            29707 non-null  object
 3   source_id       29707 non-null  int64
 4   updated_at      29707 non-null  object
 5   content         29254 non-null  object
 6   published_date  29707 non-null  object
 7   id              29707 non-null  int64
 8   title           29707 non-null  object
 9   is_processed    29707 non-null  bool
 10  author          27270 non-null  object
 11  url             29707 non-null  object
dtypes: bool(1), int64(2), object(9)
memory usage: 2.5+ MB

In [15]:
get_unique_report(text_df)

             distinct value count by col
=======================================================
created_at                                        29707
link                                              29707
guid                                              29698
source_id                                         34
updated_at                                        29707
content                                           28581
published_date                                    529
id                                                29707
title                                             28392
is_processed                                      1
author                                            2200
url                                               29707

### `sen_df`

In [16]:
pretty_print('matched sen shape:', sen_df.shape)
print('matched sen cols:\n', list(sen_df.columns))

matched sen shape:                                (10470, 7)
matched sen cols:
 ['id', 'created_at', 'updated_at', 'article_id', 'extracted_keywords', 'text', 'title']

In [17]:
sen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10470 entries, 0 to 10469
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10470 non-null  int64
 1   created_at          10470 non-null  object
 2   updated_at          10470 non-null  object
 3   article_id          10470 non-null  int64
 4   extracted_keywords  10470 non-null  object
 5   text                10470 non-null  object
 6   title               10470 non-null  object
dtypes: int64(2), object(5)
memory usage: 572.7+ KB

In [18]:
get_unique_report(sen_df)

             distinct value count by col
=======================================================
id                                                10470
created_at                                        10470
updated_at                                        10470
article_id                                        4323
extracted_keywords                                60
text                                              9925
title                                             4179

### `true_df`

In [19]:
pretty_print('matched true shape:', true_df.shape)
print('matched true cols:\n', list(true_df.columns))

matched true shape:                               (735, 3)
matched true cols:
 ['id', 'matchedsentence_id', 'officer_id']

In [20]:
true_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  735 non-null    int64
 1   matchedsentence_id  735 non-null    int64
 2   officer_id          735 non-null    int64
dtypes: int64(3)
memory usage: 17.4 KB

In [21]:
get_unique_report(true_df)

             distinct value count by col
=======================================================
id                                                355
matchedsentence_id                                479
officer_id                                        355